# Default values for ks-virtual.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.



{% if oldCpuAllocationRatio is defined %}
cpuAllocationRatio: {{ oldCpuAllocationRatio | default(2) }}
{% else %}
cpuAllocationRatio: {{ virtualization.cpuAllocationRatio | default(2) }}
{% endif %}

